<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Dynvertise - Marketing digital dinâmicio e interativo</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="apple-touch-icon" href="apple-touch-icon.png">

<!--Google fonts links-->
<link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">

<link rel="stylesheet" href="assets/css/bootstrap.min.css">

<!--For Plugins external css-->
<link rel="stylesheet" href="assets/css/plugins.css">
<link rel="stylesheet" href="assets/css/roboto-webfont.css">
<!--Theme custom css -->
<link rel="stylesheet" href="assets/css/style.css">
<!--Theme Responsive css-->
<link rel="stylesheet" href="assets/css/responsive.css">
<link rel="stylesheet" href="assets/css/carousel.css">

<script src="assets/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>

<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script> 

<!--Rotina para organizar Nossos planos-->
<script src="assets/js/price_form.js"></script>     

<script src="~assets/js/carousel.js~"></script>

<script>
$(document).ready(function(){
        $("#como_funciona").click(function(){
            $(this).hide();
            });

        $("#button1").click(function(){
            $("#como_funciona").show();
            });

        $("#detalha_planos").click(function(){
            $(this).hide();
            });

        $("#button2").click(function(){
            $("#detalha_planos").show();
            });         
        });
</script>   
</head>

<body>
<!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

<!-- Sections -->
<section id="social" class="social">
    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="social-wrapper">
                <div class="col-md-6">
                    <div class="social-icon">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <!--<a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>-->                                
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="social-contact">
                        <a href="#"><i class="fa fa-phone"></i>+55 (21) 99232-2811</a>
                        <a href="#"><i class="fa fa-envelope"></i>dynvertise@dynvertise.com</a>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- /container -->       
</section>

<nav class="navbar navbar-default">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img src="assets/images/logo_dynvertise3.png" alt="Logo"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="#home">Home</a></li>
                <li><a href="#features">CLIENTE</a></li>
                <li><a href="#price">PLANOS</a></li>
                <li class="login"><a href="#">LOGIN</a></li>
            </ul>

        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<!--Home page style-->
<header id="home" class="home">
    <div class="overlay-fluid-block">
        <div class="container text-center container-fluid">
            <div class="row">
                <div class="portfolio-wrapper text-center">
                    <div class="table-row-equal">
                        <div class="thumbnail community-edition">
                            <div><h4>SEJA UM PARCEIRO DA DYNVERTISE!</h4>
                                <div class="separator"></div>
                                <p></p>
                                <h5>Seja um parceiro expositor!</h5>
                                <h5>Ganhe dinheiro exibindo propaganda no seu tablet!</h5>
                                <h5>Se você transporta passageiros, não fique fora dessa!</h5>
                                <button id="_button1" class="btn btn-default">SAIBA MAIS!</button>
                            </div>
                        </div>
                        <div class="thumbnail community-edition">
                            <h4>TORNE-SE UM CLIENTE!</h4>
                            <div class="separator"></div>
                            <p></p>
                            <div align="center"> <img class="img-responsive img-rounded" src="assets/images/cliente.png"></div>
                        </div>
                    </div>
                </div>      
            </div>      
        </div>
    </div>      

</header>

<!------------------------------------------------------------------------------------------------------------------------------->
<!------------------------------------------------------------------------------------------------------------------------------->

<section id="service" class="service2 sections lightbg">
<div class="container">
    <div class="row">
        <div class="main_service2">
            <div class="head_title text-center">
                <h2>SEJA UM EXPOSITOR</h2>
            </div>
        </div>
        <div class="service_content">
            <div class="col-md-6 col-sm-6">
                <div class="single_service2">
                    <div class="single_service_left">
                        <img src="assets/images/flaticon2_old.png" alt="">
                    </div>
                    <div class="single_service_right">
                        <h2>Faça parte já!</h2>
                        <p>Você terá uma renda extra apenas por disponibilizar um tablet para seu passageiro no encosto de seu assento.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="single_service2">
                    <div class="single_service_left">
                        <img src="assets/images/flaticon2.png" alt="">
                    </div>
                    <div class="single_service_right">
                        <h2>Exponha enquanto dirige</h2>
                        <p>Como nosso parceiro você tem a liberdade e flexibilidade de trabalhar enquanto dirige. Sem trabalho adicional.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="service_content">
            <div class="col-md-6 col-sm-6">
                <div class="single_service2">
                    <div class="single_service_left">
                        <img src="assets/images/flaticon1.png" alt="">
                    </div>
                    <div class="single_service_right">
                        <h2>Ganhe dinheiro!</h2>
                        <p>O app identifica que o carro está em movimento e te remunera por isso!</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="single_service2">
                    <div class="single_service_left">
                        <img src="assets/images/monitor.png" alt="">
                    </div>
                    <div class="single_service_right">
                        <h2>Instale nosso app!</h2>
                        <p>O aplicativo controla a mídia a ser exposta para seu passageiro. Você não precisa se preocupar com nada!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
<!------------------------------------------------------------------------------------------------------------------------------->
<!------------------------------------------------------------------------------------------------------------------------------->

<section id="features" class="features sections">
<div class="container">
    <div class="main_features_content2">
        <div class="portfolio-wrapper text-center">
            <div class="main_service2">
                <div class="head_title text-center">
                    <h2>TORNE-SE UM CLIENTE!</h2>
                </div>
                <hr>
                <div class="table-row-equal">
                    <div class="thumbnail col-md-4 col-sm-6 col-xs-12 community-edition">
                        <i class="fa fa-book"></i>
                        <div class="separator"></div>
                        <h4>PERFIL DO PÚBLICO</h4>
                        <h5>Sua audiência será composta de pessoas economicamente ativas, onde a maior parte possue acesso a internet e cartão de crédito (pré-requisitos para utilização do UBER)</h5>
                    </div>
                    <div class="thumbnail col-md-4 col-sm-6 col-xs-12 community-edition">
                        <i class="fa fa-bug"></i>
                        <div class="separator"></div>
                        <h4>ALCANCE</h4>
                        <h5>Com mais de 50 mil motoristas (apenas UBER) espalhados em todo o Brasil, contamos com um grande potencial para expansão da rede de dispositivos digitais para exposição de sua marca.</h5> 
                    </div>
                    <div class="thumbnail col-md-4 col-sm-6 col-xs-12 community-edition">
                        <i class="fa fa-gears"></i>
                        <div class="separator"></div>
                        <h4>CONTEÚDO DINÂMICO</h4>
                        <h5>Alteração dinâmica de conteúdo com apenas alguns cliques. Agiliza enormemente a veiculação quando comparado com a mídia estática (banners, folders, etc). Sua empresa na era da mídia digital !</h5>
                    </div>
                    <div class="thumbnail col-md-4 col-sm-6 col-xs-12 community-edition">
                        <i class="fa fa-external-link"></i>
                        <div class="separator"></div>
                        <h4>ALTO IMPACTO</h4>
                        <h5>A definição da região onde será feita a exposição é um grande diferencial para sua campanha de marketing. Clientes próximos podem decidir alterar o destino após visualização da mídia para visitar seu estabelecimento e aproveitar uma promoção, por exemplo.</h5>                
                    </div>
                </div>
                <button id="button1" class="btn btn-default">COMO FUNCIONA</button>
                <br>
                <br>
                <section id="como_funciona" style="display:none">       
                    <ul>
                        <li><h5>1. Sua empresa se cadastra em nosso site</h5></li>
                        <li><h5>2. Define sua campanha de marketing (faça um orçamento em <a href="#price">Nossos Planos</a>)</h5></li>
                        <li><h5>3. Faz o upload de sua mídia digital no formato especificado</h5></li>
                        <li><h5>4. Sua mídia é transmitida para nossa rede de expositores após análise</h5></li>
                        <li><h5>5. A propaganda é exposta pelos dispositivos digitais nos locais especificados em sua campanha</h5></li>
                        <li><h5>6. Nosso aplicativo monitora o tempo de exposição da mídia e sua localização através de GPS</h5></li>
                        <li><h5>7. Enviamos um relatório consolidado ao término de sua campanha</h5></li>               
                    </ul><br>
                </section>
            </div>
        </div>
    </div>
</div></section>
<!------------------------------------------------------------------------------------------------------------------------------ -->
<script src="assets/js/vendor/jquery-1.11.2.min.js"></script>
<script src="assets/js/vendor/bootstrap.min.js"></script>

<script src="assets/js/plugins.js"></script>
<script src="assets/js/modernizr.js"></script>
<script src="assets/js/main.js"></script>


</body>

</html>
